.background_home {
  background-color: #E8E8E8;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.NavBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #1E1E1E;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.FunctionButtons {
  display: flex;
  align-items: center;
}

.BackArrowButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.BackArrowIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4px;
  transition: transform 0.3s;
}

.BackArrowIcon:hover {
  transform: scale(1.1);
}

.RefreshButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.RefreshIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4px;
  transition: transform 0.3s;
}

.RefreshIcon:hover {
  transform: rotate(360deg);
}

.Filter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex-wrap: wrap;
}

.OptionFilters {
  background: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 8px 12px;
  font-family: Poppins;
  margin-right: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.OptionFilters:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: pointer;
}

.OptionFilters option {
  font-family: Poppins;
  background-color: #1e1e1e;
}

.CreateRecipeButton {
  background: transparent;
  border: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 8px 12px;
  font-family: Poppins;
  transition: background-color 0.3s, color 0.3s;
}



.CreateRecipeButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .NavBar {
    flex-direction: column;
    align-items: center;
  }

  .FunctionButtons {
    margin-bottom: 1rem;
  }

  .OptionFilters,
  .CreateRecipeButton {
    margin-top: 1rem;
    margin-right: 0;
    background-color: #1e1e1e;
  }


  .cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}


@media only screen and (max-width: 768px) {
  .NavBar {
    flex-direction: column;
    align-items: center;
  }

  .FunctionButtons {
    margin-bottom: 1rem;
  }

  .Filter {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .OptionFilters,
  .CreateRecipeButton {
    margin-top: 1rem;
    margin-right: 0;
    background-color: #1e1e1e;
  }

  .OptionFilters {
    width: 100%;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
