.recipecontainer{
  background-color: #E8E8E8;
}

.Back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1E1E1E;
  padding: 10px;
}

.BackArrowButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.BackArrowIcon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4px;
  transition: transform 0.3s;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E8E8E8;
}

.titleform {
  font-size: 32px;
  font-family: Poppins, sans-serif;
  color: #333;
  margin-bottom: 40px;
}

.botondevolver {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.botondevolver button {
  background: transparent;
  border: none;
  color: #1e1e1e;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.botondevolver button:hover {
  text-decoration: underline;
}

.inputsycheck {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputscontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.inputstexto {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.inputstexto label {
  font-weight: bold;
  color: #1e1e1e;
  font-family: Poppins, sans-serif;
  margin-bottom: 8px;
}

.inputdata {
  padding: 8px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
  font-family: Poppins, sans-serif;
}

.imagecontainer {
  display: flex;
  flex-direction: column;
}

.inputimagecontainer {
  display: flex;
  flex-direction: column;
}

.inputimage {
  font-family: Poppins, sans-serif;
  margin-bottom: 10px;

}

.preview-image {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.preview-image img {
  padding: 8px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 1px solid #ddd;
}

.inputdata:focus {
  border-color: #888;
}

.error {
  color: red;
  margin-top: 4px;
  font-size: 12px;
}

.containercheck {
  flex: 0 1 45%;
}

.orgcontcheck {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
}

legend {
  font-weight: bold;
  color: #1e1e1e;
  font-family: Poppins, sans-serif;
}

.organizadorcheck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1e1e1e;
}

.organizadorcheck p {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.organizadorcheck input {
  margin-left: 8px;
}

.stepyrender {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Poppins, sans-serif;

}

.stepbystep {
  margin-bottom: 20px;
}

.stepbystep textarea {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
  font-family: Poppins, sans-serif;
}

.stepbystep textarea:focus {
  border-color: #888;
}

.stepbystep-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.stepbystep-buttons button {
  padding: 6px 12px;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.stepbystep-buttons button:last-child {
  margin-right: 0;
}

.stepbystep-buttons button:hover {
  background-color: #333;
}

.renderstepbystep ol {
  padding-left: 20px;
}

.renderstepbystep li {
  margin-bottom: 8px;
}

.mandareceta {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mandareceta button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mandareceta button:hover {
  background-color: #333;
}

.divstepsbuttons {
  display: flex;
  justify-content: space-around;
}

.stepsbutton {
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.stepsbutton:hover {
  background-color: #333;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 767px) {
  .inputsycheck {
    flex-direction: column;
  }

  .inputstexto {
    width: 100%;
  }

  .containercheck {
    width: 100%;
  }

  .orgcontcheck {
    margin-top: 20px;
  }

  .stepbystep-buttons {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .stepbystep-buttons button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.form-container {
  animation: fadeIn 0.8s;
}

.inputsycheck,
.mandareceta,
.stepbystep {
  animation: slideIn 0.8s;
}
